<!-- Header (Navbar) -->
<nav class="navbar navbar-expand-lg fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand fw-bold" href="index.html">
            <img src="/images/lamjingshai.png" alt="Lamjingshai Logo" class="logo">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" title="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link d-lg-inline d-flex align-items-center" href="#" role="button">
                        Apps
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="slvpn.html">SL VPN</a></li>
                        <li><a class="dropdown-item" href="student_helper.html">Student Helper</a></li>
                        <li><a class="dropdown-item" href="aio_downloader.html">AIO Downloader</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link d-lg-inline d-flex align-items-center" href="#" role="button">
                        Games
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="wordquest.html">WordQuest</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link d-lg-inline d-flex align-items-center" href="#" role="button">
                        Support
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="support.html">Support</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link d-lg-inline d-flex align-items-center" href="#" role="button">
                        About Us
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="about_us.html">About Us</a></li>
                        <li><a class="dropdown-item" href="privacy_policy.html">Privacy Policy</a></li>
                        <li><a class="dropdown-item" href="term.html">Terms & Conditions</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link" href="store.html"><i class="fas fa-store store-icon"></i> Store</a></li>
            </ul>
        </div>
    </div>
</nav>